div.contentblock:hover {
                    padding: 0px;
                    border: 2px dotted red;
                    position: relative;
                    min-height: 16px;
                }

                div.contentblock {
                    padding: 0px;
                    position: relative;
                    min-height: 16px;
                }

                div.toolbarleft {
                    z-index: 100;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }

                div.toolbarright {
                    z-index: 100;
                    position: absolute;
                    right: 0px;
                }