.navbar {
    background: #333;
}
header {
    padding-top: 100px;
    background: #333;
    max-height: 700px;
}
.carousel-inner {
    max-height: 600px;
}
.carousel-inner img {
    width: 100%;
}
#links .row {
    margin-bottom: 10px;
}
#programacao ul {
    list-style: none;
}
#programacao ul li {
    margin: 5px 0;
}

#programacao ul li .titulo {
    font-weight: bold;
}

#programacao ul li .sub-titulo {
    font-style: italic;
}

#galeria_imagens div.col-md-4 {
    margin-bottom: 10px;
}