<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-app="app">

<head>
  <title>Forms Consulting</title>
  <meta name="viewport" content="width=device-width, user-scalable=no" charset="UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="/scripts/angular.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="/style/styles/salesforce-lightning-design-system.min.css">
  <link rel="stylesheet" type="text/css" href="/style/styles/SweetalertCss.css">
  <link rel="stylesheet" type="text/css" href="/style/styles/index.css">

  <link rel="stylesheet" type="text/css" href="/style/common/gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" type="text/css" href="/style/common/gallery/css/bootstrap-image-gallery.min.css">

  <link rel="stylesheet" type="text/css" href="/style/common/common/css/base.css">

  <link rel="stylesheet" type="text/css"
    href="http://www.consultinghousegroup.com/2018/arquivos_hotsite/css/agency.min.css">
  <link rel="stylesheet" type="text/css"
    href="http://consultinghousegroup.com/2018/arquivos_hotsite/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="http://consultinghousegroup.com/2018/arquivos_hotsite/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
    href="http://consultinghousegroup.com/2018/arquivos_hotsite/css/agency.min.css">

  <script src="http://consultinghousegroup.com/2018/arquivos_hotsite/vendor/jquery/jquery.min.js"></script>
  <script
    src="http://consultinghousegroup.com/2018/arquivos_hotsite/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script
    src="http://consultinghousegroup.com/2018/arquivos_hotsite/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="http://consultinghousegroup.com/2018/arquivos_hotsite/js/jqBootstrapValidation.js"></script>
  <script src="http://consultinghousegroup.com/2018/arquivos_hotsite/js/contact_me.js"></script>
  <script src="http://consultinghousegroup.com/2018/arquivos_hotsite/js/agency.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">



  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.2.5" charset="UTF-8"></script>
  <script src="/scripts/index.js" type="text/javascript"></script>

  <script type="text/javascript" src="/style/common/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/style/common/jquery.easing/jquery.easing-1.3.min.js"></script>
  <script type="text/javascript" src="/style/common/gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script type="text/javascript" src="/style/common/gallery/js/bootstrap-image-gallery.min.js"></script>
  <script type="text/javascript" src="/style/common/common/js/common.js"></script>
  <script type="text/javascript" src="/style/common/common/js/webform.js"></script>
</head>

<body class="app {{containerClass}}" ng-controller="ItemController as c" ng-init="c.init()">

  <head>
    <title>Meeting 2017 | Leaders | O novo Brasil</title>
  </head>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#header"><img
            src="http://consultinghousegroup.com/hotsites/nomes/consumer.png"
            style="max-height: 65px; max-width: 370px; margin-top: -20px;" /></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#sobre">Sobre</a>
          </li>
          <li>
            <a class="page-scroll" href="#galeria">Galeria</a>
          </li>
          <li>
            <a class="page-scroll" href="#palestrantes">Palestrantes</a>
          </li>
          <li>
            <a class="page-scroll" href="#programacao">Data e Local</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Inscreva-se</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <div>

    <div class="destaque_rotativo">
      <img src="http://consultinghousegroup.com/hotsites/banners/consumer_goods/consumer_weekend.jpg" />
    </div>

  </div>


  <!-- Sobre -->
  <section id="sobre" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-16 text-center">
          <h2 class="section-heading" style="color: #000;">Consumer Goods &amp; Retail Meeting Weekend</h2>
          <div class="descricao"><br></br>Um encontro exclusivo que reunirá <strong>Presidentes, Acionistas e
              Membros do Conselho </strong>das principais empresas de bens de consumo de de varejo do
            País, <br></br>com o intuito de trocar experiências através de cases, workshops, debates e
            relacionamento.</div>
        </div>
      </div>
    </div>
  </section>

  <!-- Galeria de Imagens -->
  <section id="galeria">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">Galeria de Imagens</h2>
          <br></br><br></br><br></br><br></br><br></br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="galeria_imagens">
            <img src="http://consultinghousegroup.com/hotsites/fotos/meeting/fotos-01.jpg" />
            <img src="http://consultinghousegroup.com/hotsites/fotos/meeting/fotos-02.jpg" />
            <img src="http://consultinghousegroup.com/hotsites/fotos/meeting/fotos-03.jpg" />
            <img src="http://consultinghousegroup.com/hotsites/fotos/meeting/fotos-04.jpg" />
            <img src="http://consultinghousegroup.com/hotsites/fotos/meeting/fotos-05.jpg" />
            <img src="http://consultinghousegroup.com/hotsites/fotos/meeting/fotos-06.jpg" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Palestrantes -->
  <section id="palestrantes">
    <div class="container">
      <div class="row">
        <div class="col-gray-12 text-center">
          <h2 class="section-heading" style="color: #000;">Palestrante</h2>
          <br></br><br></br><br></br>
        </div>
      </div>
      <div class="row">



        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/Luciano_Flores_2.png"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">Luciano Flores</h4>
            <p class="text-muted">Delegado de Polícia Federal e Superintendente Regional da PF/MS</p>
            <p class="text-muted">Ex-integrante da Força Tarefa CC5 do Caso Banestado e da Operação Lava
              Jato;<br></br> cumpriu
              o mandado de condução coercitiva na casa do ex-presidente Luiz Inácio Lula da
              Silva.<br></br> Superintendente da Polícia Federal no MS; Professor de direito penal
              econômico<br></br> da pós-graduação da Escola da Magistratura Federal do RS – ESMAFE/RS;
              Professor da disciplina de Crime Organizado<br></br> e combate
              à Corrupção da Pós-Graduação da<br></br> Academia Nacional da Polícia Federal.</p>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/Erika_Marena.jpg"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">Erika Marena</h4>
            <p class="text-muted">Superintendente da Polícia Federal em Sergipe (SE)</p>
            <p class="text-muted">Especialista em combate a crimes financeiros. Foi responsável pelo início
              das investigações da Lava Jato, com o auxílio do delegado Márcio Adriano Anselmo. Foi Erika
              quem deu o nome Lava Jato à maior operação contra a corrupção no País. Após atuar por dois
              anos na operação, Erika foi convidada a chefiar a área de combate à corrupção e desvio de
              verbas públicas da Superintendência da PF em Santa Catarina. Em 2016 foi a mais votada de
              uma lista tríplice para concorrer à diretoria geral do comando da PF. Hoje, assume a
              Superintendência Regional da Polícia Federal no Estado de Sergipe.
              Foi interpretada na série da Netflix, O Mecanismo, pela personagem Verena Cardoni. </p>

          </div>
        </div>
        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/Paulo-Rabello-hotsite.png"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">Paulo Rabello</h4>
            <p class="text-muted">Ex-presidente do BNDES e IBGE. PhD em Economia.</p>
            <p class="text-muted">Doutor (M.A e Ph.D) em economia pela Universidade de Chicago e graduado em
              Direito pela UERJ.<br></br> Foi Diretor-Presidente da SR Rating, primeira empresa brasileira
              de classificação de riscos<br></br> de crédito e fundador da RC Consultores, empresa de
              Previsão Econômica e Análises de Mercado.<br></br> É autor do livro “Mito do Governo Grátis”
              e coordena o Movimento Brasil Eficiente,<br></br> em defesa da reforma tributária
              brasileira.</p>


          </div>
        </div>

        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/janainapaschoal-hotsite.png"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">Janaina Paschoal</h4>
            <p class="text-muted">Advogada e Professora de Direito Penal</p>
            <p class="text-muted">É advogada e professora da Universidade de São Paulo. Doutora em direito
              penal pela Universidade de São Paulo em 2002.<br></br> Pesquisadora de direito penal
              econômico.</p>

          </div>
        </div>
        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/Paulo-Camargo-McDonalds-hotsite.png"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">Paulo Camargo</h4>
            <p class="text-muted">Presidente do Mc Donald's</p>
            <p class="text-muted">Tecnologia da Informação, com pós-graduação na mesma área pela
              Universidade Mackenzie. Também possui MBA pela Universidad Europea de Madrid.
              Possui mais de 25 anos de experiência no setor de bens de consumo, varejo e serviços. Já
              trabalhou em distintos países, em empresas como Pepsico, FASA Corp e Iron Mountain. Nesta
              ultima, antes de se juntar a Arcos Dourados, exercia a função de Presidente para a Espanha.
            </p>


          </div>
        </div>


        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/luiz_fernando_pedrucci_hotsite.png"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">Luiz Fernando Pedrucci</h4>
            <p class="text-muted">CEO da Renaut</p>
            <p class="text-muted">Formado em engenharia automotiva pela FEI. Possui pós graduação em
              Business pela FGV. </p>


          </div>
        </div>


        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/josevicentemarinohotsite.png"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">José Vicente Marinho </h4>
            <p class="text-muted">Presidente da Avon</p>
            <p class="text-muted">Bacharel e mestre em Administração pela Fundação Getúlio Vargas, com MBA
              em Varejo pela Universidade de São Paulo.<br></br> Atuou como COO na Natura e foi Presidente
              da Johnson &amp; Johnson. É vice-presidente do Conselho Nacional da ABA<br></br> (Associação
              Brasileira de Anunciantes), é membro do Conselho Superior do Conar (Conselho Nacional de
              Autorregulamentação<br></br> Publicitária), e membro do conselho consultivo do instituto
              Akatu pelo consumo consciente.</p>


          </div>
        </div>

        <div class="col-sm-12">
          <div class="team-member">
            <img src="http://consultinghousegroup.com/hotsites/palestrante/WalterLongo-HOTSITE.png"
              class="img-responsive img-circle" alt="" />
            <br></br>
            <h4 class="section-heading" style="color: #000;">Walter Longo</h4>
            <p class="text-muted">Membro do Conselho da SulAmérica, Portobello e Cacau Show</p>
            <p class="text-muted">Com MBA pela Universidade da Califórnia, foi mentor de estratégia e
              inovação no grupo Newcomm.<br></br> Recebeu o título de personalidade do marketing Direito
              pela Abemd e 4 vezes o Melhor Profissional do Ano pelo prêmio Caboré.<br></br> É membro de
              conselhos de empresas e associações de telecomunicação, sócio de empresas de mídia
              digital,<br></br> articulista, palestrante e autor de livros sobre marketing.</p>


          </div>
        </div>


      </div>
    </div>

  </section>

  <!-- Programação -->
  <section id="programacao" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Data e Local</h2>
        </div>
      </div>


      <div class="row">
        <div class="col-md-3,5">
          <ul>
            <h3>23 A 25 DE NOVEMBRO DE 2018</h3>
            <li>
              <div class="item">
                <div class="titulo">Unique Garden Hotel &amp; Spa</div>
                <div class="titulo">Estr. laramara, 3500, Mairiporã - SP</div>
              </div>
            </li>
            <br></br><br></br>
            <iframe height="400px" id="maps" name="maps"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14663.762895765007!2d-46.569971!3d-23.245244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x640062dc119a80d7!2sUnique+Garden+Hotel+%26+Spa!5e0!3m2!1spt-BR!2sbr!4v1530293198440"
              width="95%" frameborder="0"></iframe>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <!-- Formulario Section -->
  <section id="contact">
    <div id="formulario" class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Participe</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- <c:contentblock name="formulario" /> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Consumer Goods &amp; Retail Meeting Weekend </span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="https://www.facebook.com/consultinghouseoficial" target="_blank"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company/consulting-house?trk=company_logo"><i
                  class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <img src="http://consultinghousegroup.com/hotsites/logos/cclub.jpg" />
        </div>
      </div>
    </div>
  </footer>
</body>

</html>